PODX_DATABASE_PATH=podx_v2.db

WHATSAPP_ACCESS_TOKEN=EAAgX4ZBoaNjYBSCrOf7zZCboR5olMQbEbrqzyu1snDX3wabg8k7mcVMprcbyIJW0CiDupDmMMk7NeDEumaAsxZAkbwNx5jtw8yIedrp665k5RIB9MCuZBywwm38QwWRUb9kblYwoodAzVOlnDPqZCcgINZBB0seyhlzkSUtUFyjpVYSAk0ZBAkya0pZChGCaThq9nDZARhj2B8i0O9ipQZCxilYZARsxY2aNj9acdQFZCNSEo2J3YkCZCBJQgMt1F2aQHztqWttD0u2SG2uNUAKBEHjEg
WHATSAPP_PHONE_NUMBER_ID=1237574599439132
WHATSAPP_API_VERSION=v23.0
WHATSAPP_WEBHOOK_VERIFY_TOKEN=podx_verify_2026
