PODX_DATABASE_PATH=podx_v2.db

WHATSAPP_ACCESS_TOKEN=EAAgX4ZBoaNjYBSGArfG9fAB2LIUfJZBjiV2tMK79lp8R6ZCm3NhlmVmrJEYuVj40B0RGEo0xb8C9NxpfY2du6MSAy5hyHmOJ1WO8bsw2A5x5e9vZBuSPoqTrtggaSrVd0C444bWaVWNzTue8xy8pZBGmznM7tT4dmhPqKibUhjsTwix179YRuhoSMZB8z1S4GO1pPjMZBK9bzY2XYwhyZBbvWfsmML1IYveA1ZCJ0S6jEwPrlaZAOFT2uS2ZAK7E17493vJyDX4VgGhIcOIHrbms7pQkjgZD
WHATSAPP_PHONE_NUMBER_ID=1237574599439132
WHATSAPP_API_VERSION=v23.0
WHATSAPP_WEBHOOK_VERIFY_TOKEN=podx_verify_2026
